body{
    background-color: white;
    width: auto;
    margin: 0px;
    /* text-align: center; */
}

/* background-image */
h2.h2{
    text-align: center;
    font-size: 37px;
    padding: 14px;
    background-color: #C2E8EF;
    color:#3d5a80;
    margin-top:0px;
    
}
.icon{
    width:3%;
    position:relative;
    top:4px;
    right:5px;
}
/* Create New Pots */
h1{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-style: Bradley Hand ITC;
    font-weight: normal;
    font-size: 65px;
    padding: 0px 12px 0px 12px;
    border-color: white;
    border-style: solid;
}

.location{
    text-align: center;
    margin-bottom: 30px;
}

#cover{
    margin: 30px 250px 30px 250px;
    border: 1px solid black;
    text-align: center;
}

.img-upload{
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;    
}

.imgup{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}

.imgfile{
    margin-bottom: 10px;
    margin-right: -8px;
}

.new-post > h2{
    margin-top: 25px;
    text-align: center;
}

.introduction{
    margin-top: 10px;
    text-align: center;
}

.experience{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: 10px 20% 25px 20%;
}

.experience1, .experience2 {
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow:rgba(128, 128, 128, 0.523) 8px 8px 20px; /* same in the original blog post style */
}

.experience1 > .exp-text {
    margin-top: 10px;
    text-align: center;
}

.experience2 > .exp-text {
    margin-top: 10px;
    text-align: center;
}

#tips-section{
    text-align: center;
}

p{
    text-align: center;
}

.sub{
    margin-top: 10px;
}

/* Post button 的 hover */
/* .sub > input:hover{
    cursor: pointer;
    transition: all .3s linear;
    background-color: rgb(142, 205, 244);
    color: white;
} */

/* all the form->input focus style */
input[type=text]:focus{
    transition: 0.5s;
    border: 2px solid;
    background-color: rgb(197, 220, 233);
}

/* all the form->textarea focus style */
textarea:focus{
    transition: 0.5s;
    border: 2px solid;
    background-color: rgb(235, 244, 250);
}
.button{
    font-size: 15px;
    background-color: #C2E8EF;
    color:#3d5a80;
    border: 1.9px solid #3d5a80;
    padding:2px;
    border-radius: 3px;
    margin-bottom:20px;
}
.button:hover{
    background-color: #3d5a80;
    color:#C2E8EF;
}